.hidden{
  display: none;
}
a{
  color: white;
}
li a:hover,.activePage{
  color: red;
}

p{
  text-align: justify;
}
header{
  position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 1;
}
nav{
  position: -webkit-sticky;
   position: sticky;
   top: 41px;
}
nav ul li{
  padding: 10px;
}
nav input{
  margin-left: 20px;
}
footer{
  background-color: black;
  color: white;
  height: 150px;
  font-weight: bold;
}
div section img{
  opacity: 0.7;
  transition: .4s ease-in-out;
}

div section img:hover{
  opacity: 1;
  transition: .4s ease-in-out;
}
#main-menu{
  color: white;
  background-color: black;
  font-weight: bold;
  width:550px;
  position: fixed;
  height: 100%;
}
#promoImage{
  background-image: url("../images/promoimage.jpg");
  height: 350px;
}
#playBtn{
  border-radius: 10px;
  font-weight: bold;
  background-color: #ff0000;
  margin: 160px 0px 0px 40%;    /*top-right-bottom-left*/
}
#search{
  border-radius: 20px;
  font-size: 25px;
  margin-top: 20px;
  margin-right: 10px;
  /*width: 80%;*/
  /*margin: 0 auto ;*/
}
.featuredHeading{
  border-bottom: 3px solid1 black;
}




#set1{
  height: 345px;
  background-image: url("../images/trending1.jpg");
  transition: .4s ease-in-out;
}
#hoverSet1,#hoverSet2,#hoverSet3{
  font-weight: bold;
  opacity: 0.3;
  background-color: white;
  transition: .4s ease-in-out;
}
/*#set1:hover{
  opacity: 0.3;
  transition: .4s ease-in-out;
}*/
#set1:hover + #hoverSet1{
  transition: .4s ease-in-out;
  opacity: 1;
}
#set2:hover + #hoverSet2{
  transition: .4s ease-in-out;
  opacity: 1;
}
#set3:hover + #hoverSet3{
  transition: .4s ease-in-out;
  opacity: 1;
}

#set2{
  height: 150px;
  background-image: url("../images/trending2.jpg");
}

#set3{
  height: 150px;
  background-image: url("../images/trending3.jpg");
}

/*article heading for all (Music, Pop culture, Enytertainment*/

.articleHeading{
  color: black;
  font-weight: bold;
  transition: .4s ease-in-out;
}

.articleHeading:hover{
  color: red;
  transition: .4s ease-in-out;
}

.viewMoreBtn{
  background-color: #000000;
  font-weight: bold;
  border: 3px solid white;
  margin-top: 20px;
}
.viewMoreBtn:hover{
  background-color: white;
  color: black;
  border: 3px solid black;
}


.addgif{
  margin-top: 20px;
  margin-bottom: 20px;
}
/* CSS for article page */

article{
  margin: 20px 0px 20px 0px;   /*top-right-bottom-left*/
  padding: 20px 0px 20px 0px;  /*top-right-bottom-left*/
}

/* #authorInfo::first-letter{
  font-size: 200%;
} */



.adSpace{
   position: -webkit-sticky;
   position: sticky;
   top: 43px;
}

.boxes{
    height: 250px;
    margin: 20px 0px 0px 0px;  /*top-right-bottom-left*/
    font-weight: bold;
}

#moreBtn{
  background-color: white;
  border: 3px solid black;
  color: black;
  font-weight: bold;
}
#moreBtn:hover{
  background-color: black;
  border: 3px solid white;
  color: white;
}


.articleHead{
  font-family: 'Archivo', sans-serif;

}

.category{
  margin-left: 20px;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 0px;
  color: grey;

}

.articleTitle{
  margin-left: 20px;
  margin-bottom: 0px;
  font-weight: 800;

  font-size: 5em;
}

@media screen and (max-width: 40em) {
  .articleTitle {
    font-size: 1.5em;
  }
}


.subtitle{
  margin-left: 20px;
  margin-bottom: 0px;

}

.profilePhoto{
  border-radius: 100%;
  min-width: 70px;
  max-width: 30%;
  margin-bottom: 0px;
  margin-left: 5px;


}

.authorInfo{
  display: flex;
  align-items:center;
  margin-left: 20px;
}

.authorName{
  margin: 0%
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
