p{
  text-align: justify;
}
label{
  background-color: black;
  color: white;
  height: 150px;
  font-weight: bold;
}

#main-menu{
  color: white;
  background-color: black;
  font-weight: bold;
  width:30%;
  position: fixed; 
  z-index: 1
}
#promoImage{
  background-image: url("../images/test.jpeg");
  height: 350px;
}
#playBtn{
  border-radius: 10px;
  font-weight: bold;
  background-color: #ff0000;
  margin-top: 160px;
  margin-left: 40%;
}
#search{
  border-radius: 20px;
  font-size: 30px;
}
#featuredHeading{
  padding-top: 20px;
  padding-bottom: 20px;
}
.viewMoreBtn{
  background-color: #000000;
  font-weight: bold;
}
#otherInfo{
  background-color: #818181;
}
